{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='banner'>
        <div class='container'>
            <div class='banner-content'>
                <h1>{{ inschrijving.agendaitemid.titel }}</h1>
                    {% if inschrijving.agendaitemid.datumvan|date:"d F Y" == inschrijving.agendaitemid.datumtot|date:"d F Y" %}
                        <h4>{{ inschrijving.agendaitemid.datumvan|date:"d F Y" }}</h4>
                    {% else %}
                        <h4>{{ inschrijving.agendaitemid.datumvan|date:"d "}} - {{ inschrijving.agendaitemid.datumtot|date:"d F Y"}}</h4>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class='agenda-item-content'>
    <div class='container p-4'>
        <div class='row'>
            <div class='col-lg-8 col-md-8 col-sm-12'>
                <h4>{{ inschrijving.agendaitemid.titel }}</h4>
                <p>{{ inschrijving.agendaitemid.beschrijving }}</p>
                <p class="alert alert-info">De <b>{{ inschrijving.prijs }}</b> euro dient overgeschreven te worden op ons rekeningnummer <b>BE69 7995 1948 1478</b>
                    met vermelding van naam en voornaam lid.  </p>
                <div class="card">
                    <div class="card-header">Schrijf je lid in</div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        {% endif %}
                        {% if search|length == 0 %}
                            Indien je nog niet bent ingeschreven gelieve op onderstaande knop te duwen
                            <a href="{% url 'inschrijven_nieuw' %}" class="btn btn-outline-info">Schrijf je nieuw lid in</a>
                        {% endif %}
                        {% for item in search %}
                            <a href="{% url 'inschrijven_lid' item.uuid inschrijving.id %}">Schrijf {{ item.voornaam }} {{ item.achternaam }} in</a>
                        {% endfor %}
                        <form method="get" action="{% url 'inschrijven_info' inschrijving.id%}">
                            {{ form | crispy}}
                            <button class="btn btn-outline-primary">Zoek je lid</button>
                        </form>
                    {% if not search %}
                        <div class="alert alert-info" role="alert">
                              let op de lengte van voor en achternaam moeten minstens 2 letters lang zijn,
                            </div>
                    {% endif %}
                    </div>
                </div>
                <div class='item-links'>
                    <h5>Voor meer informatie</h5>
                    <a href="/media/{{ inschrijving.brief }}" download="">Download brief</a>
                </div>
                <div class='item-social-links'>
                    <h5>Volg ons op sociale media</h5>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12'>
                <div class='item-info-content card'>
                    <div class='card-body'>
                    <h2>Details</h2>
                        {% if inschrijving.agendaitemid.datumvan|date:"d F Y" == inschrijving.agendaitemid.datumtot|date:"d F Y" %}
                            <div class='agenda-item-info van'>
                                <span>Van</span>{{ inschrijving.agendaitemid.datumvan|date:"H:m" }}
                            </div>
                            <div class='agenda-item-info tot'>
                                <span>Tot</span>{{ inschrijving.agendaitemid.datumtot|date:"H:m" }}
                            </div>
                        {% else %}
                            <div class='agenda-item-info van'>
                                <span>Van</span>{{ inschrijving.agendaitemid.datumvan|date:"d F Y, H:m" }}
                            </div>
                            <div class='agenda-item-info tot'>
                                <span>Tot</span>{{ inschrijving.agendaitemid.datumtot|date:"d F Y, H:m" }}
                            </div>
                        {% endif %}
                        <div class='agenda-item-info locatie'>
                            <span>Locatie</span>{{ inschrijving.agendaitemid.adres }}
                        </div>
                        <div class='agenda-item-info prijs'><span>Prijs</span>€ {{ inschrijving.prijs }}</div>
                    </div>
                </div>
            </div>
            <div class='col col-lg-12'>
                    <div class='home-agenda-link'>
                            <form action="/inschrijven/">
                                <button>Meer inschrijvingen <i class='fa fa-angle-right'></i></button>
                            </form>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}