{% extends "base.html" %}
{% block content %}
<div class='home-banner'>
        <div class='container'>
            <div class='home-banner-content'>
                <h1>KSA Droeshout</h1>
            </div>
        </div>
    </div>
    <div class='container-fluid p-5'>
        <div class='row'>
            <div class='col-lg-12'>
                <div class='home-agenda'>
                    <div class='home-agenda-head'>
                        <h2><span>agenda</span></h2>
                    </div>
                    <div class='home-agenda-content'>
                        <div class="card-columns row">
                            {% for item in agenda_items_list %}
                            <div class='home-agenda-card card col-lg-3 col-md-4 col-sm-12'>
                                    <div class='card-body'>
                                        {% if item.datumvan|date:"d F Y" == item.datumtot|date:"d F Y" %}
                                        <h5>{{ item.datumvan|date:"d F Y"}}</h5>
                                        {% else %}
                                        <h5>{{ item.datumvan|date:"d "}} - {{ item.datumtot|date:"d F Y"}}</h5>
                                        {% endif %}
                                        <h4>{{ item.titel }}</h4>
                                        <form action="/agenda/{{item.id}}">
                                            <button class='agenda-item-meer-info btn'>meer info</button>
                                        </form>
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class='home-agenda-link'>
                            <form action="/agenda">
                                <button class="btn">Agenda <i class='fa fa-angle-right'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}