{% extends "base.html" %}
{% block content %}
    <div class='banner'>
        <div class='container'>
            <div class='banner-content'>
                <h1>Verhuur</h1>
            </div>
        </div>
    </div>
    <div class='home-info'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='item-info-content card'>
                        <div class='card-body'>
                            <h2>Lokaal</h2>
                        <div class='agenda-item-info locatie'>
                            <span>Locatie</span>{{ lokaal.adresid }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Prijs persoon per nacht</span>€ {{ lokaal.prijsperpersoon }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Prijs per nacht</span>€ {{ lokaal.prijs }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Waarborg</span>€ {{ lokaal.waarborg }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Beschrijving</span>€ {{ lokaal.beschrijving }}
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                <div class="card">
                    <h3>Foto's lokaal</h3>
                <div class="card-body">
                    <div class="row">
                        {% for item in lokaalfoto %}
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <img src="{{ item.image.url }}" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <h3>tenten</h3>
                </div>
                {% for tent in tenten %}
                <div class='col-lg-6'>
                    <div class='item-info-content card'>
                        <div class='card-body'>
                            <h2>{{ tent.type }}</h2>
                        <div class='agenda-item-info prijs'>
                            <span>Afmeting 1 stuk</span>{{ tent.afmeting }}
                        </div>
                         <div class='agenda-item-info prijs'>
                            <span>Beschrijving</span>{{ tent.beschrijving }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Prijs winstgevend</span>€ {{ tent.prijswinst }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Prijs niet winstgevend</span>€ {{ tent.prijsnwinst }}
                        </div>
                        <div class='agenda-item-info prijs'>
                            <span>Waarborg</span>€ {{ tent.waarborg }}
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                            <div class="col-lg-12">
                <div class="card">
                    <h3>Foto's tenten</h3>
                <div class="card-body">
                    <div class="row">
                        {% for item in tentfoto %}
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                {{ item.tentid.type }}
                                <img src="{{ item.image.url }}" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}