{% load static %}
<html lang="nl">
    <head>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="ksa,ksa droeshout, droeshout"/>
        <meta name="author" content="Arne Mergan" />
        <meta name="copyright" content="Arne Mergan" />
        <meta name="robots" content="follow"/>
      {{ form.media }}
    </head>
    <body>
        <div class='header'>
        <nav class="navbar navbar-expand-md navbar-dark" id="banner">
            <div class="container">
              <!-- Brand -->
              <a class="navbar-brand" href="/"><img src="{% static 'images/KSAlogo.png' %}"></a>

              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar links -->
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item pl-3">
                    <a class="nav-link" href="{% url 'agenda' %}">agenda</a>
                  </li>
                  <li class="nav-item pl-3">
                    <a class="nav-link" href="{% url 'verhuur' %}">verhuur</a>
                  </li> 
                <li class="nav-item pl-3">
                    <a class="nav-link" href="{% url 'contact' %}">contact</a>
                  </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="{% url 'inschrijven' %}">inschrijven</a>
                  </li>
                   <!-- Dropdown -->
                <li class="nav-item dropdown pl-3">
                  <a class="nav-link" href="#">
                    meer
                  </a>
                  <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'begeleiding' %}">begeleiding</a>
                        <a class="dropdown-item" href="{% url 'groepen' %}">groepen</a>
                        <a class="dropdown-item" href="{% url 'overons' %}">over ons</a>
                        <a class="dropdown-item" href="{% url 'dash' %}">dashboard</a>
                  </div>
                </li>
                </ul>
              </div>
            </div>
        </nav>
        </div>
        {% block content %}
        {% endblock %}
        <footer>
            <div class='footer-info'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-4 col-md-6 col-sm-12'>
                            <ul class='left'>
                                 <li><a href="{% url 'overons' %}">Over ons</a></li>
                                 <li><a href="/begeleiding">Begeleiding</a></li>
                                 <li><a href="/groepen">Groepen</a></li>
                                <li><a href="/privacy">Privacybeleid</a></li>
                            </ul>
                        </div>    
                        <div class='col-lg-4 col-md-6 col-sm-12'>
                            <ul class='middle'>
                                <li><a href="/">Home</a></li>
                                <li><a href="/agenda">Agenda</a></li>
                                <li><a href="/verhuur">Verhuur</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>                
                        <div class='col-lg-4 col-md-12 right text-center'>
                           <p> KSA DROESHOUT<br>
                            Steenweg Op Vilvoorde 229<br>
                               1745 Opwijk</p>
                        </div>   
                    </div>    
                </div>
            </div>
            <div class='footer-bottom'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <h6>2019 &copy; Ksa Droeshout</h6>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>