                            <h4>Nieuwsbrief</h4>
                            <p>Laat hier jouw emailadres achter en blijf op de hoogte van het laatste nieuws, activiteiten en evenementen</p>
                            <form>
                                <div class="input-group">
                                  <input type="email" class='form-control' name="nieuwsbrief-input" placeholder="jan.jansens@gmail.com">
                                  <span class="input-group-prepend">
                                    <button class="btn btn-primary" type="submit" id="nieuwsbrief-button">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                  </span>
                                </div>
                            </form>