     <div class="row">
            <div class='col-lg-12'>
                <div class='home-news'>
                    <div class='home-news-head'>
                        <h2><span>Nieuws</span></h2>
                    </div>
                    <div class='home-news-content'>
                        <div class="card-columns row">
                            <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                                                        <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                                                        <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                                                        <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                                                        <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                                                        <div class='home-news-card card  col-lg-4 col-md-6 col-sm-12'>
                                <div class='card-body'>
                                    <h5>Gepubliceerd op 15/12/2018</h5>
                                    <p>
                                    Deze zondag gaan we het Opwijkse centrum onveilig maken!
                                    We spreken met alle groepen af aan de middelbare school VKO (Karenveldstraat) om 14 uur...
                                    </p>
                                    <button class='news-item-lees-meer'>Lees meer <i class='fa fa-angle-right'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='home-news-link'>
                        <form action="nieuws.php">
                            <button class="btn">Meer nieuws <i class='fa fa-angle-right'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>