{% extends 'base.html' %}
{% block content %}
    <div class='banner'>
        <div class='container'>
            <div class='banner-content'>
                <h1>Overons</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
Wie zijn we?
Wij zijn een gemengde jeugdbeweging temidden van het kleine, landelijke Droeshout. We tellen zo'n leden, 12 leiders en 8 leidsters. KSA staat voor Katholieke Studenten Actie. We bestaan ondertussen reeds 52 jaar, waarvan 34 jaar effectief als KSA Droeshout. Het meerendeel van de overige jaren waren we gekend als KSJ Droeshout. Sinds het jaar 2015 zijn we opnieuw KSA geworden.

Wat doen we?
Elke zondag staan we om 14.00 paraat om er samen met onze leden een goedgevulde namiddag van te maken. De drie jongste leden kunnen zich drie uur lang uitleven, de drie oudste groepen zelfs vier uur lang. Met de Leeuwkens en de Jong-Knapen, onze twee jongste groepen, gaan we jaarlijks op een zogenaamd 'klein kamp'. De Knapen en Jong-Hernieuwers gaan op hun beurt ook jaarlijks op 'medium kamp'. De twee oudste groepen, de Hernieuwers en de +16, gaan elk apart op weekend. In de laatste twee weken van de maand juli gaan we uiteraard tien dagen lang op een heus tenten-kamp naar de Ardennen met zowel jong als oud. Om dit alles te financieren organiseren we ieder jaar in mei onze Blacklight Fuif, op de voorlaatste zaterdag van augustus Villa loca en, als laatste, in november ons eetfestijn.
            </div>
        </div>
    </div>
{% endblock %}