{% extends 'base.html' %}
{% block content %}
    <div class='banner'>
        <div class='container'>
            <div class='banner-content'>
                <h1>Privacybeleid</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Privacybeleid Ksa Droeshout - versie 1.0</h3>
                Deze pagina is voor het laatst aangepast op 22/04/2019
                <p>
                    Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij werken.
                    Dit privacybeleid is van toepassing op de diensten van Ksa Droeshout. U dient zich ervan bewust te zijn dat Ksa Droeshout niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geeft u aan het privacy beleid te accepteren.
                    Ksa Droeshout respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.
                </p>
                <h3></h3>
            </div>
        </div>
    </div>
{% endblock %}