{% extends "base_dashboard.html" %}
{% block content %}
<section class="py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <a class='btn btn-success col-lg-3 col-md-6 col-sm-6 m-1' href="{% url 'dash_verhuur' %}">Verhuur</a>
                <a class='btn btn-success col-lg-3 col-md-6 col-sm-6 m-1' href="{% url 'dash_leden' %}">Leden</a>
                <a class='btn btn-success col-lg-3 col-md-6 col-sm-6 m-1' href="{% url 'agenda_item_list' %}">Agenda</a>
                <a class='btn btn-success col-lg-3 col-md-6 col-sm-6 m-1' href="{% url 'inschrijving_all' %}">Inschrijving</a>
                <a class='btn btn-success col-lg-3 col-md-6 col-sm-6 m-1' href="{% url 'users' %}">Users</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}