{% extends "base_dashboard.html" %}
{% block content %}
<section class="py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                  <div class="card-header">
                    <h6 class="text-uppercase mb-0">{{ lid.voornaam }} {{ lid.achternaam }}</h6>
                  </div>
                  <div class="card-body">
                      <h3>Lid gegevens</h3>
                    <div class="card-columns">
                        <label>GeboorteDatum</label>
                        <p>{{ lid.geboortedatum }}</p>
                    </div>
                  <div class="card-columns">
                        <label>Geslacht</label>
                        <p>{{ lid.geslacht }}</p>
                  </div>
                      <div class="card-columns">
                        <label>Groep</label>
                        <p>{{ lid.groep }}</p>
                      </div>
                      <div class="card-columns">
                        <label>Actief</label>
                        <p>{{ lid.actief }}</p>
                    </div>
                      <h3>Adres gegevens</h3>
                      <div class="card-columns">
                        <label>Adres</label>
                        <p>{{ adres }}</p>
                    </div>
                      {% for item in contact %}
                          <h3>{{ item.type }} gegevens</h3>
                          <div class="card-columns">
                            <label>Naam</label>
                            <p>{{ item.voornaam }} {{ item.naam }}</p>
                        </div>
                      <div class="card-columns">
                        <label>Tel</label>
                        <p>{{ item.tel }}</p>
                      </div>
                      <div class="card-columns">
                        <label>Email</label>
                        <p>{{ item.email }}</p>
                    </div>
                      {% endfor %}
                  <h3>Medische fiche gegevens</h3>
                      <div class="card-columns">
                        <label>Allergie</label>
                          {% if not fiche.allergie %}
                              <p>geen</p>
                          {% else %}
                        <p>{{ fiche.allergie }}</p>
                          {% endif %}
                      </div>
                  </div>
                    <div class="card-footer">
                        <a href='{% url 'lid_delete' lid.uuid %}' class="btn btn-danger">Verwijder</a>
                        <a href="{% url 'dash_leden' %}" class="btn btn-secondary">terug</a>
                    </div>
                </div>
        </div>
    </div>
</section>
{% endblock %}